
	<div id="app">

		<div class='afisha_wrap' v-if="aAfisha.length>0">
			<af_month
				v-for="month in aAfisha"
				:key="month.month"
				:month="month.month"
				>
				<af_item
					v-for="item in month.items"
					:key="item.id"
					:id="item.id"
					:name="item.play"
					:info="item.info"
					:autor="item.autor"
					:kind="item.style"
					:link="item.link"
					:img="item.img"
					:day_date="item.day_date"
					:day_name="item.day_name"
					:time="item.time"
					:place="item.place"
					:coste="item.coste"
					:age_limit="item.age_limit"
					:stat="Number(item.stat)"
					:dt="item.dt"
					enable_editor
					@edit="editPlayItem($event)"
					@del="delPlayItem($event)"
					@hide="hidePlayItem($event)"
					@show="showPlayItem($event)"
				>
				</af_item>
			</af_month>			
		</div>
		<div v-else class='afisha_empty'>
			В ближайшее время спектакли не запланированы
		</div>
		
		<h2 v-if="aOtherAfisha.length>0" class='af_h2'>Прочее</h2>
		<div class='afisha_wrap' v-if="aOtherAfisha.length>0">
			<af_month
				v-for="month in aOtherAfisha"
				:key="month.month"
				:month="month.month"
				>
				<af_item
					v-for="item in month.items"
					:key="item.id"
					:id="item.id"
					:name="item.play"
					:info="item.info"
					:autor="item.autor"
					:kind="item.style"
					:link="item.link"
					:img="item.img"
					:day_date="item.day_date"
					:day_name="item.day_name"
					:time="item.time"
					:place="item.place"
					:coste="item.coste"
					:age_limit="item.age_limit"
					:stat="Number(item.stat)"
					:dt="item.dt"
					enable_editor
					@edit="editOtherItem($event)"
					@del="delOtherItem($event)"
					@hide="hideOtherItem($event)"
					@show="showOtherItem($event)"
				>
				</af_item>
			</af_month>			
		</div>
		
		<div class="af_new_panel">
			<button
				@click="addPlay">
				Добавить спектакль
			</button>
			<button
				@click="addEvent">
				Добавить другое мероприятие
			</button>
		</div>
		
		<transition name="fade">
			<modal-win
				v-show="bModalWinShow"
				@close="closeModWin"
			>
				<af_editor
					ref="af_editor"
					:mode="editor.mode"
					:id="editor.data.id"
					:name="editor.data.name"
					:info="editor.data.info"
					:coste="editor.data.coste"
					:place="editor.data.place"
					:age_limit="editor.data.age_limit"
					:date="editor.data.dt"
					:time="editor.data.tm"
					
					:plays="aPlays"
					:ages="aAges"
					:places="aPlaces"
					
					:anons="editor.data.anons"
					
					@cancel="closeModWin"
					@submit="saveEdited($event)"
					>
				</af_editor>
			</modal-win>
		</transition>
			
	<hr>
	</div>



