<!doctype html>
<html>
<head>
  <title>Афиша</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- IE must understand HTML5: -->
  <!--[if IE]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <style>
   article, aside, details, figcaption, figure, footer,header,
   hgroup, menu, nav, section, div { display: block; }
  </style>
</head>
<body>
	<div id="app">

		<div class='afisha_wrap'>
			<af_month
				v-for="month in aAfisha"
				:key="month.month"
				:month="month.month"
				>
				<af_item
					v-for="item in month.items"
					:key="item.id"
					:id="item.id"
					:name="item.play"
					:info="item.info"
					:autor="item.autor"
					:type="item.style"
					:link="item.link"
					:img="item.img"
					:day_date="item.day_date"
					:day_name="item.day_name"
					:time="item.time"
					:place="item.place"
					:age_limit="item.age_limit"
					@edit="editItem($event)"
				>
				</af_item>
			</af_month>			
		</div>
		
		<div class="af_new_panel">
			<button
				@click="addPlay">
				Добавить спектакль
			</button>
			<button
				@click="addEvent">
				Добавить другое мероприятие
			</button>
		</div>
		
		<transition name="fade">
			<modal-win
				v-show="bModalWinShow"
				@close="closeModWin"
			>
				<af_editor
					ref="af_editor"
					:mode="editor.mode"
					:id="editor.data.id"
					:name="editor.data.name"
					:info="editor.data.info"
					:place="editor.data.place"
					:age_limit="editor.data.age_limit"
					:date="editor.data.dt"
					:time="editor.data.tm"
					
					:plays="aPlays"
					:ages="aAges"
					:places="aPlaces"
					
					@cancel="closeModWin"
					@submit="saveEdited($event)"
					>
				</af_editor>
			</modal-win>
		</transition>
			
	</div>


	<script type='text/javascript' src='js/vue.js' defer></script>
  <script type='text/javascript' src='js/jquery-1.11.3.min.js' defer></script>
  <script type='text/javascript' src='js/controller.js?v=0.1' defer></script>

</body>
</html>
